{% extends 'index.html' %}
{% block content %}
    <title class="title">2D - Graphing</title>
    <!--MAIN BODY STARTS -->
    <div class="main-section">

      <div class="calc-container h-full w-full">

          <!--
            <div class="mockup-window border border-base-30 m-auto h-full w-full outline-none">
          <div class=" border-t h-full w-ful flex justify-center align-center">

            

          </div>
        </div>
          -->
        

          <div class="mockup-window border border-base-300 h-full rounded-none">
            <div class="flex justify-center align-center border-base-300 border-t h-full w-full">
              
              <div id="calculator" style = "height: 98%; width: 100%;"></div>

            </div>
          </div>

      </div>


    </div>
{% endblock %}
  