<div class="navbar bg-base-100">
    <div class="navbar-start">
      <a  href = "/" class="btn btn-ghost normal-case text-xl">CALC - PY</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/scientific" class = "mx-4"> scientific </a></li>
        <li><a href = "/equation" class = "mx-4"> Equation Solver </a></li>
        <li><a href = "/matrix" class = "mx-4"> Matrix </a></li>
        <li><a href = "/graph" class = "mx-4"> 2D - Graphing </a></li>
        <li><a href = "#" class = "mx-4"> 3D - Graphing </a></li>
        <li><a href = "/statistics" class = "mx-4"> Statistics </a></li>
        <li><a href = "/unit" class = "mx-4"> Unit Conversion</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn mx-5 px-8" href="https://github.com/Bishesh-Khanal/CalcPy.git">
        <span class = "pr-2">Github</span>
        <i class='bx bxl-github' ></i>
        </span>

      </a>
    </div>
  </div>

  <!--  -->